body {
    display: grid;
    background: #503c9e;
    background: linear-gradient(180deg, rgba(80, 60, 158, 1) 2%, rgba(89, 58, 113, 1) 100%);

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    grid-template-columns: auto;
    grid-template-rows: 200px 500px;

    grid-template-areas: 
    "input"
    "timer"
    "footer";

    overflow: hidden;

    font-family: "DM Sans";
}

.user-input {
    grid-area: input;
    margin: 0 auto;
    align-content: flex-end;
}

.main-timer {
    grid-area: timer;
    border-radius: 10px;

    color: white;

    align-content: flex-start;
    margin: 0 auto;
}

.timer {
    font-size: 80px;
    text-align: center;
}

#date-choice, #time-choice {
    background-color: rgb(0, 0, 0);
    color: white;

    border: none;

    padding: 1rem;

    border-radius: 5px;

    font-family: "DM Sans";
    font-weight: 500;
}

#set-timer, #reset-timer {
    background-color: black;
    border: none;

    padding: 1rem;

    color: white;

    border-radius: 5px;

    font-family: "DM Sans";
    font-weight: 500;
}

#set-timer:hover, #reset-timer:hover {
    background-color: white;
    color: black;

    transition: 1s;
}